/Arduino IDE.lnk
/Başlıksız-1.png
/Ben Algo Çalışan
/Bilgisayar Mühendisliği.lnk
/cc
/css2
/DeepL.lnk
/denklemuydur.py
/desktop.ini
/FileZilla.lnk
/Format Factory.lnk
/killtasks.py - Kısayol.lnk
/nümerik proje 2
/Postman.lnk
/vflat yedek
/~$PROGRAM.xlsx